
body {
  background-image: url("https://newevolutiondesigns.com/images/freebies/galaxy-wallpaper-4.jpg");
  background-attachment: fixed;
  background-size: 100vw;
  object-fit: cover;
}

.ui.inverted.segment {
  background-color: rgba(0, 0, 0, 0.90) !important
}

.ui.basic.label {
  color: white;
  background-color: transparent
}

.ui.label {
  min-width: 100px
}